

<div class="mx-auto col-3 mt-3">
    <%= form_with(url: search_path, method: :get, local: true, class: "d-flex") do |form| %>
       <%= form.text_field :user_id, class: 'form-control me-1', placeholder: 'Search by Flickr User ID' %>
       <%= form.submit :Search, class: 'btn btn-primary' %>
    <% end %>
</div>

<div class="row mt-3">
    <h1 class="p-0">
        <% if @random_photos %>
            Daily Photos
        <% elsif @search_success != false %>
            User: <%= params[:user_id]%>
        <% end %>
    </h1>

    <% if @photos.present? %>
        <%= render :partial => "photo", :collection => @photos %>
    <% elsif @search_success != false %>
        <h4 class="p-0">Search by user</h4>
    <% end %>
</div>
